.mainNewsSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 15px 3px;
}

.mainDate {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #abbdc9;
  margin: 0 0 50px;
  padding: 20px 0 20px;
}

.mainRowCorrect {
  max-width: 1200px;
}

.verticalLine {
  border-right: 1px solid #c7c7c7;
}

@media screen and (min-width: 768px) {
  .mainNewsSection {
    padding: 10px 15px 6px;
  }
}

@media screen and (min-width: 992px) {
  /* .mainNewsSection {
    padding: 3%;
  } */

  .verticalLine {
    border-right: 1px solid #c7c7c7;
  }
}