.mainNewsSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 15px 3px;
}

.mainRowCorrect {
  max-width: 1200px;
}

.currentSection {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.verticalLine {
  border-right: 1px solid #c7c7c7;
}

@media screen and (min-width: 768px) {
  .mainNewsSection {
    padding: 10px 15px 6px;
  }
}

@media screen and (min-width: 992px) {
  /* .mainNewsSection {
    padding: 3%;
  } */

  .verticalLine {
    border-right: 1px solid #c7c7c7;
  }
}