.articleWrapper {
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 24px;
  margin-bottom: 26px;
}

.articleHeightHandler {
  max-height: 830px;
}

.articleHeightHandlerSmall {
  max-height: 830px;
}

.articleTitle {
  font-size: 22px;
  line-height: 25px;
  margin: 0;
}

.articleTitleSmall {
  font-size: 14px;
  line-height: 15px;
  margin: 0;
}

.articlePreview {
  font-size: 14px;
  line-height: 19px;
}

.byLine {
  font-weight: 700;
  font-style: italic;
}

.byLineSmall {
  display: block;
  font-size: 10px;
  margin-top: 15px;
}

.articleImg {
  max-width: 100%;
}