.searchBar {
  width: 100%;
}

.input {
  flex: 1;
  border: 1px solid #abbdc9;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  transition: border-color 0.3s;
  width: 80%;
}

.input:focus {
  border-color: black;
}

.button {
  background-color: #abbdc9;
  color: white;
  width: 40px;
  height: 40px;
  border: 1px solid #abbdc9;
  border-radius: 3px;
  padding: 10px 6px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 12px;
}

.button:hover {
  background-color: #555;
  border-color: #555;
}
