@font-face {
  font-family: 'Chomsky';
  src: url('../../assets/fonts/chomsky/chomsky.woff') format('truetype');
}

header {
  margin: 0 auto;
  padding: 8px 15px 3px;
  max-width: 1200px;
  position: relative;
}

h1 {
  font-family: 'Chomsky';
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.headerLeft {
  text-align: left;
}

.headerRight {
  text-align: right;
}

@media screen and (min-width: 768px) {
  header {
    padding: 10px 15px 6px;
  }

  h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 992px) {
  header {
    padding: 3%;
  }

  h1 {
    font-size: 58px;
  }
}