.article {
  height: 100%;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 20px;
}

.author {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .article {
    border-bottom: none;
  }
}
