@font-face {
  font-family: 'Libre Baskerville';
  src: url('./assets/fonts/libre-baskerville/libre-baskerville-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('./assets/fonts/libre-baskerville/libre-baskerville-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Libre Baskerville', serif;
}